.container {
  display: inline-block;
  margin: 20%;

  .css-text {
    overflow: hidden;
    font-size: 2rem;
    font-weight: 700;
    color: rgb(196, 24, 141);
    border-right: 0.15em solid orange;
    white-space: nowrap;
    animation: typing 5s steps(50, end) infinite;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
